

.main_page_holder{
    display: flex;
    flex-direction: column;
    top: 0%;
    left: 0%;
    position: absolute;
    height: fit-content;
    width: 100%;
    background: var(--background-color);
    overflow-y: auto;
}

.intro_section{
    display: flex;
    width: 100%;
    height: 100svh;
}

.screen_1_holder, .screen_2_holder{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen_2_holder .screen_2{
    padding: 3rem;
    background: transparent;
    opacity: 1;
    position: relative;
    top:0%;
    left: 0%;
    width: 50%;
    height: fit-content; 
    box-shadow: 0rem 0rem 3rem #a78732 inset, 0rem 0rem 1rem #131313; 
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.screen_1_holder .screen_1{
    z-index: 1;
    padding: 5rem;
    background: transparent;
    opacity: 1;
    position: relative;
    top: 1%;
    width: fit-content;
    height: fit-content; 
    justify-content: center;
    box-shadow: 0rem 0rem 3rem #a78732 inset, 0rem 0rem 1rem #131313; 
    display: flex;
    flex-direction: row;
    gap: 2rem;
    border-radius: 1rem;
}

.screen_2 .intro_header{
    position: relative;
    font-size: 3rem;
    text-align: center;
}

.screen_2::before{
    z-index: 0;
    content: "";
    position: absolute;
    top:0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #ff953e65;
    filter: blur(10rem);
    transform: scale(1.2, 0.8);
}

.screen_2 .see_personal_note_button, .screen_1 .see_brief_note_button{
    margin: -1rem;
    padding: 1rem;
    position: absolute;
    bottom: 0%;
    right: 0%;
    width: fit-content;
    height: fit-content;
    border-radius: 1rem 0rem 1rem 0rem;
    background: #058deeb5;
    box-shadow: 0rem 0rem 1rem #2a4ce0 inset, 0rem 0rem 1rem #131313;
    backdrop-filter: blur(0.1rem);
}


.screen_1{
    transition: all 0.5s ease;
}

.screen_2{
    transition: all 0.5s ease;
}

.screen_1.visible, .screen_2.visible{
    opacity: 1;
}

.screen_1.hidden, .screen_2.hidden{
    opacity: 0;
    z-index: -1;
    pointer-events: none
}

.personal_image{
    position: relative;
    margin-top: 5rem;
    width: 25rem;
    height: 25rem;
}

.personal_image img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}


.intro_placard .intro_desc_holder{
    display: flex;
    position: relative;
    top: 0%;
    left: 0%;
    width: 40rem;
    height: 40rem;
    /* border: 1px solid #ff2f00; */
}

.intro_desc_holder .intro_desc{
    font-size: 1rem;
    padding: 1rem;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(1.0rem);
    border-radius: 1rem;
    overflow: hidden;
    line-height: 2rem;
}

.intro_desc_holder .intro_desc_after{
    z-index: 0;
    content: "";
    background-color:var(--background-color);
    position: absolute;
    opacity: 1;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    filter: blur(0.4rem);
    box-shadow: 0rem 0rem 0.5rem #000000 inset, 0.1rem 0.1rem 0.5rem #000000;
}

.special_word_holder{
    position: relative;
    font-weight: bold;
    width: 5rem;
    height: 5rem;
    background: transparent;
}

.special_word_holder .special_word_underline{
    z-index: 2;
    position: absolute;
    bottom: -10%;
    left: 0%;
    background: transparent;
    transition: all 0.5s ease;
}

.special_word_underline.expanded{
    width: 100%;
    height: 2rem;

}

.special_word_underline.hidden{
    width: 0rem;
    height: 2rem;
}

.intro_desc .normal_word{
    background: transparent;
}

.specialisations{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}

.specialisations div{
    padding: 1rem 2rem;
    background: #2a4ce038;
    backdrop-filter: blur(1.0rem);
    border-radius: 1rem;
    box-shadow: 0rem 0rem 0.5rem #2a4ce0 inset, 0rem 0rem 0.5rem #000000;
}

.know_more_buttons{
    position: relative;
    top: 0%;
    left: 0%;
    display: flex;
    width: 100%;
    /* background: #000000; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.know_more_buttons .github, .know_more_buttons .linkedin, .know_more_buttons .resume{
    z-index: 0;
    position: relative;
    top: 0%;
    left: 0%;
    background: transparent;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem #a78732 inset, 0rem 0rem 1rem #131313;
    overflow: hidden;
}

.know_more_buttons a::after{
    z-index: -2;
    content: "";
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
    top: 0%;
    left : 0%;
    transform: scale(0.8);
    border-radius: 1rem;
    filter: blur(1.0rem);
    transition: all 0.5s ease;
}

a:hover::after{
    box-shadow: 0rem 0rem 3rem #b042ff inset, 0rem 0rem 1rem #a78732;
}

.github, .linkedin{
    padding: 0.5rem;
    width: 5rem;
    width: 5rem;
    overflow: hidden;
}

.resume{
    padding: 1rem;
    width: fit-content;
    height: fit-content;
    font-size: 1.5rem;
    color: #000000;
}

a {
  text-decoration: none;
}

.github img, .linkedin img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}



