

.main_page_holder{
    display: flex;
    flex-direction: column;
    top: 0%;
    left: 0%;
    position: relative;
    height: fit-content;
    width: 100%;
    background: var(--background-color);
    overflow-y: auto;
}

.intro_section{
    display: flex;
    width: 100%;
    height: 100svh;
}

.screen_1_holder{
    position: absolute;
    margin-top: 5rem;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100svh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen_1_holder .image_holder{
    position: absolute;
    top:0%;
    left: 0%;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}


.personal_image{
    position: relative;
    top:0%;
    left: 0%;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0rem 0rem 1rem #131313;
}

.personal_image img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(2) translateX(-3rem) translateY(-1.0rem);
}


.screen_1_holder .intro_desc_holder{
    display: flex;
    position: relative;
    top: 10%;
    left: 0%;
    width: 80%;
    height: fit-content;
    /* border: 1px solid #ff2f00; */
}

.intro_desc_holder .intro_desc{
    font-size: 1.2rem;
    padding: 1rem;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    background: transparent;
    backdrop-filter: blur(1.0rem);
    border-radius: 1rem;
    overflow-y : hidden;
    line-height: 2rem;
}

.intro_desc .line_divider{
    position: relative;
    display: block;
    width: 100%;
    height: 0.5rem;
    /* background: #000000; */
}

.intro_desc_holder .intro_desc_after{
    z-index: 0;
    content: "";
    background-color:var(--background-color);
    position: absolute;
    opacity: 1;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    filter: blur(0.4rem);
    box-shadow: 0rem 0rem 0.5rem #000000 inset, 0.1rem 0.1rem 0.5rem #000000;
}

.special_word_holder{
    position: relative;
    font-weight: bold;
    width: 5rem;
    height: 5rem;
    background: transparent;
}

.special_word_holder .special_word_underline{
    z-index: 2;
    position: absolute;
    bottom: -10%;
    left: 0%;
    background: transparent;
    transition: all 0.5s ease;
}

.special_word_underline.expanded{
    width: 100%;
    height: 2rem;

}

.special_word_underline.hidden{
    width: 0rem;
    height: 2rem;
}

.intro_desc .normal_word{
    background: transparent;
}

.know_more_buttons{
    position: relative;
    top: 10%;
    left: 0%;
    display: flex;
    width: 100%;
    /* background: #000000; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.know_more_buttons .github, .know_more_buttons .linkedin, .know_more_buttons .resume{
    z-index: 0;
    position: relative;
    top: 0%;
    left: 0%;
    background: transparent;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem #a78732 inset, 0rem 0rem 1rem #131313;
    overflow: hidden;
}

.know_more_buttons a::after{
    z-index: -2;
    content: "";
    position: absolute;
    background: transparent;
    width: 100%;
    height: 100%;
    top: 0%;
    left : 0%;
    transform: scale(0.8);
    border-radius: 1rem;
    filter: blur(1.0rem);
    transition: all 0.5s ease;
}

a:hover::after{
    box-shadow: 0rem 0rem 3rem #b042ff inset, 0rem 0rem 1rem #a78732;
}

.github, .linkedin{
    padding: 0.5rem;
    width: 3rem;
    width: 3rem;
    overflow: hidden;
}

.resume{
    padding: 1rem;
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
    color: #000000;
}

a {
  text-decoration: none;
}

.github img, .linkedin img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}



