


.info_section{
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #f30606; */
    /* border: 1px solid #ff0000; */
}

/* .card_container_holder{
    display: flex;
    justify-content: center;
    width: 100%;
} */



.card_container{
    position: relative;
    display: flex;
    justify-content: center;
    top: 0%;
    left: 0%;
    width: fit-content;
    padding:0rem;
    margin-left: 4rem;
    padding-bottom: 10rem;
    perspective: 1000px;
    border-radius: 1rem;
    will-change: width;
    overflow: hidden;
    gap: 0rem;
}


.info_card{
    z-index: 3;
    position: relative;
    top: 10%;
    /* flex-basis: auto;
    flex: 0 0 auto; */
    width: 30rem;
    aspect-ratio: 5/7;
    transform-style: preserve-3d;
    transform-origin: top;
}

.card_front, .card_back{
    padding: 0.3rem;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: inherit;
    overflow: hidden;
}

.card_front_behind{
    z-index: 0;
    position: absolute;
    background-color: transparent;
    transform: scale(0.8);
    width: 100%;
    height: 100%;
    opacity: 0;
}


#card_1_computer_image{
    width: fit-content;
    height: 100%;
    position: absolute;
    transform: scale(1.3);
    left: 20%;
}

#card_2_computer_image{
    width: fit-content;
    height: 100%;
    position: absolute;
    transform: scale(1.2);
    left: -50%;
}

#card_3_computer_image{
    width: fit-content;
    height: 100%;
    position: absolute;
    transform: scale(1.2);
    right:10%;
}



.card_back{
    opacity: 1.0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: rotateY(180deg);
    padding: 2rem;
    box-shadow : 0.5rem 0.5rem 1rem #1f1f1fff inset, -0.5rem -0.5rem #fef8e2ff inset;
}

#card_1{
    text-align: right;
}

#card_1 #splash_text{
    position: relative;
    font-size: 2rem;
}

#card_1 #splash_text_2{
    position: relative;
    font-size: 2rem;
}

#card_2 #splash_text{
    position: relative;
    font-size: 2rem;
}



#card_1 .card_front{
    border-radius: 1rem 0 0 0rem;
}

#card_2 .card_front{
    border-radius: 0rem;
}

#card_3 .card_front{
    border-radius: 0rem 1rem 0 0rem;
}


#card_1 .card_back{
    background: var(--background-color);
}

#card_2 .card_back{
    background: var(--background-color);
}

#card_3 .card_back{
    background: var(--background-color);
}

.card_back .card_back_desc{
    width: 15rem;
    height: 3rem;
    text-align: center;
    padding: 1rem;
    z-index: 1;
    background: #fcf5daad ;
    backdrop-filter: blur(0.1rem);
    position: absolute;
    top: 0%;
    left: 0%;
    font-size: 2rem;  
    border-radius: 1rem 0 1rem 0;
    /* box-shadow: 0rem 0rem 0.1rem 0.5rem #f7f7f785, 0rem 0rem 2rem #121212; */
    box-shadow: 0rem 0rem 0.1rem 0.5rem #fcf5da50 , 0rem 0rem 2rem #121212;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_back_desc span{
    margin: 0rem;
}


 .card_back .qualities_list{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: all 0.1s ease;
    perspective: 1000px;
    /* border: 1px solid #e5ff00; */
 }

.qualities_list .quality_card{
    z-index: 0;
    padding: 1rem;
    text-align: start;
    padding-top: 10%;
    border-radius: 1rem;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
    transform-origin: top;
    /* background: #f7f3bc; */
    /* box-shadow: 0rem 0rem 0rem #e5ff00 , 0rem 0rem 3rem #e5ff00 inset; */
}


.inner_card_back{
    transform: rotateY(180deg);
    transition: all 0.5s ease-in;
}

.inner_card_front{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap:2rem;
}


.quality_card .inner_card_front .intro_desc{
    position: relative;
    top:0%;
    left: 0%;
    width: 100%;
    height: fit-content;
    background: #aeaeaec9;
    /* backdrop-filter: blur(10.0rem); */
    padding: 1rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    box-shadow: 2rem 2rem 3rem #ffffffbf inset, 0rem 0rem 0.1rem 0.2rem #ffffff85, 0.3rem 0.3rem 1rem #121212;
}


/* "#6095eb7f", "#60eb757f", "#db60eb85" */
.quality_card.education{
    /* background: #db60eb85;   */
    box-shadow: 0rem 0rem 3rem #db60eb inset, 0rem 0rem 1rem #5c5c5c;
}

.quality_card.experiences{
    /* background: #60eb757f; */
    box-shadow: 0rem 0rem 3rem #60eb75 inset, 0rem 0rem 1rem #5c5c5c;
}

.quality_card.leadership{
    /* background: #6095eb3a; */
    box-shadow: 0rem 0rem 3rem #6095eb inset, 0rem 0rem 1rem #5c5c5c;
}

.quality_card_behind{
    z-index: -1;
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100%;
    aspect-ratio: 1/1;
    transform: scale(0.7);
    border-radius: 50%;
    filter: blur(8.0rem);
    animation: blur_grow 3s linear infinite;
    transition: all 0.5s ease;
}

@keyframes blur_grow{
    0%{
        transform: scale(0.7); 
        /* filter: blur(8.0rem); */
    }
    50%{
        transform: scale(1.0);
        /* filter: blur(10.0rem); */
    }
    100%{
        transform: scale(0.7);
    }
}

.quality_card_behind.education{
    background: #db60eb4c;  
}

.quality_card_behind.experiences{
    background: #60eb7531;
}

.quality_card_behind.leadership{
    background: #6095eb3a;
}



.inner_card_front .title{
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    height: fit-content;
    background: #43434321;
    backdrop-filter: blur(1.0rem);
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: 1000;
    border-radius: 1rem;
    box-shadow: 2rem 2rem 3rem #ffffffbf inset, 0rem 0rem 0.1rem 0.2rem #f7f7f785, 0.3rem 0.3rem 1rem #121212;
}

.inner_card_front .toggle_messages{
    z-index: 1;
    position: absolute;
    right: 0%;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 0.5rem;
}


.toggle_messages .swipe_message{
    text-align: center;
    background: #ffcc0075;
    backdrop-filter: blur(1.0rem);
    position: relative;
    bottom: 0%;
    right: 0%;
    font-size: 1.5rem;
    box-shadow: 0rem 0rem 0.5rem #121212;
}

.toggle_messages .tap_button_messages{
    position: relative;
    top: 0%;
    left: 0%;
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-around;

}

.tap_button_messages .more_info_message{
    align-self: center;
    margin: 0.5rem 0rem 1rem 0rem;
    padding: 0.5rem 1rem;
    width: fit-content;
    background: #9d00ff6e;
    backdrop-filter: blur(1.0rem);
    position: relative;
    bottom: 0%;
    left: 0%;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 1rem #5c5c5c, 0.3rem 0.3rem 1rem #ffffff8b inset;
}

.tap_button_messages .back_to_first_message{
    align-self: center;
    margin: 0.5rem 0rem 1rem 0rem;
    padding: 0.5rem 1rem;
    width: fit-content;
    background: #c3ff006e;
    backdrop-filter: blur(1.0rem);
    position: relative;
    bottom: 0%;
    left: 0%;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 1rem #5c5c5c, 0.3rem 0.3rem 1rem #ffffff8b inset;
}

.quality_card .inner_card_front .cover_layer{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    opacity: 0;
}

.quality_card .inner_card_front .background_image{
    z-index: -2;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.quality_card .inner_card_front .background_image img{
    position: absolute;
    opacity: 0.2;
    top: 0%;
    left: 0%;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.background_image #cssutd, #ua{
    opacity: 0.2;
    object-fit: contain;
}

.background_image #ncs{
    opacity: 0.5;
    transform: scale(1.25) translateX(2.0rem) translateY(3.0rem);
    object-fit: cover;
}

.background_image #sutdbigd{
    transform: scale(1.2) translateY(3.0rem);
    object-fit: contain;
}


.inner_card_back, .inner_card_front{
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: inherit;
    overflow: hidden;
    transition: all 0.5s ease;
}


.quality_card .inner_card_back{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    background: var(--background-color);
}

.inner_card_back_contents_holder{
    z-index: 1;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.inner_card_back_contents_holder.leadership{
    background: #6095eb45;
    box-shadow: 0rem 0rem 3rem #6095eb inset;
}

.inner_card_back_contents_holder.experiences{
    background: #60eb7551;
    box-shadow: 0rem 0rem 3rem #60eb75 inset;
}

.inner_card_back_contents_holder.education{
    background: #db60eb4d; 
    box-shadow: 0rem 0rem 3rem #db60eb inset;
}

.inner_card_back_contents_holder .more_information{
    padding: 2rem;
    font-size: 1.2rem;
}

.more_information .intro_desc{
    font-size: 1.2rem;
}

.less_info_message{
    opacity: 0;
    align-self: center;
    margin: -2.5rem 0rem 0rem 0rem;
    padding: 0.5rem 1rem;
    width: fit-content;
    background: #9d00ff6e;
    backdrop-filter: blur(1.0rem);
    position: relative;
    bottom: 0%;
    left: 0%;
    font-size: 1.2rem;
    border-radius: 0.5rem;
    box-shadow: 0.3rem 0.3rem 1rem #5c5c5c, 0.3rem 0.3rem 1rem #ffffff8b inset;
}