

@media (max-width: 1600px) {
    .projects_drawer{
        top: 30%;
        left: 70%;
        width: 20rem;
        height: 20rem;
    }

    .select_next, .select_before{
        width: 3rem;
        height: 3rem;
    }
}

@media (max-width:1400px){
    .projects_drawer{
        left: 65%;
        width: 20rem;
        height: 20rem;
    } 
}

@media (max-width: 1200px) {
    .projects_drawer{
        top: 50%;
        left: 60%;
        width: 20rem;
        height: 20rem;
    }
}

@media (max-width: 1000px) {
    .projects_drawer{
        top: 50%;
        left: 50%;
        width: 20rem;
        height: 20rem;
    }

    .project-card.tall .text-container,
    .project-card.hotelapp .text-container{
        max-height: 12rem;
    }
}

@media (max-width: 900px) {
    .projects_drawer{
        top: 45%;
        left: 50%;
        width: 17rem;
        height: 17rem;
    }

    .drawer_front .drawer_label{
        font-size: 1.5rem;
    }

    .drawer_label .toggle_button{
        margin: 1rem 2rem;
    }

    .project_card{
        font-size: 2rem;
    }

    .internal_contents .buttons{
        top: -25%;
        left: 0%;
    }

    .project-card.smarthealth .text-container{
        height: 12rem;
    }

    .project-card.sutdg .text-container{
        height: 15rem;
    }
}

@media (max-width: 810px) {
    .projects_drawer{
        top: 60%;
        left: 50%;
        width: 15rem;
        height: 15rem;
    }

    .project-card.mlpipeline{
        max-height: fit-content;
    }

    .project-card.mlpipeline .text-container{
        height: fit-content;
    }

    .text-container{
        height: fit-content;
        min-height: 5rem;
        font-size: 0.8rem;
        overflow-y: auto;
        max-height: 20rem;
    }
}

@media (max-width: 650px) {
    .projects_drawer{
        top: 65%;
        left: 40%;
        width: 15rem;
        height: 15rem;
    }
}

@media (max-width: 600px) {
    .project-card{
        width: 92%;
        padding: 0.5rem;
    }

    .media-display{
        max-height: 15rem;
    }

    .title{
        font-size: 1.2rem;
    }

    .prev-btn, .next-btn{
        padding: 0.3rem 0.5rem;
    }

    .techstack-container img{
        width: 1.5rem;
        height: 1.5rem;
    }
}

@media (max-width: 550px) {
    .projects_drawer{
        top: 65%;
        left: 35%;
        width: 15rem;
        height: 15rem;
    }
}

@media (max-width: 460px) {
    .projects_drawer{
        top: 65%;
        left: 25%;
        width: 15rem;
        height: 15rem;
    }

    .drawer_front .drawer_label{
        font-size: 1rem;
    }

    .project_cards_container{
        top: 0%;
        left: 20%;
    }
}

@media (max-width: 420px) {
    .title{
        font-size: 1rem;
    }

    .internal_contents .buttons{
        top: -18%;
        left: auto;
        right: 10%;
    }

    .internal_contents .buttons .expand{
        top: -10%;
        order: 1;
        font-size: 0.8rem;
    }

    .internal_contents .buttons .minimize{
        top: 0%;
        order: 0;
        padding: 0.1rem 0.5rem;
    }

    .project-card.pv1 .media-display{
        height: 20rem;
    }

    .project-card.pv1 .text-container{
        height: fit-content;
        font-size: 0.8rem;
    }

    .prev-btn, .next-btn{
        transform: translateY(-1.0rem);
    }

    .expand-btn{
        position: absolute;
        bottom: 0%;
        transform: scale(0.8);
    }
}

@media (max-width: 400px) {
    .projects_drawer{
        top: 60%;
        left: 35%;
        width: 12rem;
        height: 12rem;
    }

    .drawer_label .toggle_button{
        margin: 0.5rem 1.5rem;
    }

    .project_card{
        font-size: 1.5rem;
        box-shadow: -0.1rem 0.3rem 0.1rem 0.2rem #131313;
    }
}

@media (max-width: 360px) {
    .projects_drawer{
        top: 50%;
        left: 35%;
        width: 12rem;
        height: 12rem;
    }
}
