

@media all and (max-width:1600px) {
    .projects_drawer{
        top: 30%;
        left: 70%;
        width: 20rem;
        height: 20rem;
    }

    .select_next, .select_before{
        width: 3rem;
        height: 3rem;
    }


    
    .drawer_front .drawer_label{
        font-size: 2rem;
    }


}


@media all and (max-width:1200px) {
    .projects_drawer{
        top:50%;
        left: 60%;
        width: 20rem;
        height: 20rem;
    }
}

@media all and (min-width:1000px) and (max-width:1200px){
    .projects_drawer{
        top:50%;
        left: 60%;
        width: 20rem;
        height: 20rem;
    }
}

@media all and (min-width:900px) and (max-width:1000px){
    .projects_drawer{
        top:50%;
        left: 50%;
        width: 20rem;
        height: 20rem;
    }
}


@media all and (max-width:900px) {

    .text_holder .title{
        font-size: 1rem;
        font-weight: 1000;
    }

    .text_holder .intro_desc{
        font-size: 1rem;
    }


    .projects_drawer{
        top: 45%;
        left: 60%;
        width: 17rem;
        height: 17rem;
    }

    .drawer_front .drawer_label{
        font-size: 1.5rem;
    }

    .drawer_label .toggle_button{
        margin: 1rem 2rem;
    }

    .project_card .card_tab{
        position: absolute;
        top: -20%;
        left: 0%;
        height: 2rem;
        width: 12rem;
    }


    .project_card{
        font-size: 2rem;
    }

    .internal_contents .buttons{
        position: absolute;
        top: -25%;
        left: 0%;
    }
}

@media all and (max-width:810px) {
    .projects_drawer{
        top: 60%;
        left: 60%;
        width: 15rem;
        height: 15rem;
    }

    .drawer_front .drawer_label{
        font-size: 1.5rem;
    }

    .drawer_label .toggle_button{
        margin: 1rem 2rem;
    }
}

@media all and ((min-width:400px) and (max-width:720px)){


    .projects_drawer{
        top: 60%;
        left: 50%;
        width: 15rem;
        height: 15rem;
    }

    .drawer_front .drawer_label{
        font-size: 1.5rem;
    }

    .drawer_label .toggle_button{
        margin: 1rem 2rem;
    }

}

@media all and (max-width:650px){


    .projects_drawer{
        top: 65%;
        left: 35%;
        width: 15rem;
        height: 15rem;
    }

    .drawer_front .drawer_label{
        font-size: 1.5rem;
    }

    .drawer_label .toggle_button{
        margin: 1rem 2rem;
    }

}

@media all and (max-width:460px){

    .projects_drawer{
        top: 65%;
        left: 25%;
        width: 15rem;
        height: 15rem;
    }

    .project_cards_container{
        top: 0%;
        left: 20%;
    }

    .drawer_front .drawer_label{
        font-size: 1.5rem;
    }

    .drawer_label .toggle_button{
        margin: 1rem 2rem;
    }

}




@media all and ((min-width:360px) and (max-width:400px)) {


    .projects_drawer{
        top: 70%;
        left: 30%;
        width: 12rem;
        height: 12rem;
        /* border: 1px solid #131313; */
    }

    .drawer_front .drawer_label{
        font-size: 1.5rem;
    }

    .drawer_label .toggle_button{
        margin: 1rem 2rem;
    }

    .project_card .card_tab{
        position: absolute;
        top: -20%;
        left: 0%;
        height: 1rem;
        width: 7rem;
    }


    .project_card{
        font-size: 1.5rem;
        box-shadow: -0.1rem 0.3rem 0.1rem 0.2rem #131313;
    }


    .project_cards_container{
        top: 0%;
        left: 20%;
    }

    .drawer_front .drawer_label{
        font-size: 1rem;
    }

    .drawer_label .toggle_button{
        margin: 0.5rem 1.5rem;
    }

}

@media all and (max-width:360px) {

    .projects_drawer{
        top: 50%;
        left: 25%;
        width: 12rem;
        height: 12rem;
    }

    .drawer_front .drawer_label{
        font-size: 1.5rem;
    }

    .drawer_label .toggle_button{
        margin: 1rem 2rem;
    }

    .project_card .card_tab{
        position: absolute;
        top: -20%;
        left: 0%;
        height: 1rem;
        width: 7rem;
    }


    .project_card{
        font-size: 1.5rem;
        box-shadow: -0.1rem 0.3rem 0.1rem 0.2rem #131313;
    }


    .project_cards_container{
        top: 0%;
        left: 20%;
    }

    .drawer_front .drawer_label{
        font-size: 1rem;
    }

    .drawer_label .toggle_button{
        margin: 0.5rem 1.5rem;
    }
}

/*The project card showcase itself*/

/* @media all and (max-width:500px) {
    .projects_card_showcase{
    position: absolute;
    top:0%;
    right: 5%;
    height: 100%;
    transition: all 0.5s ease;
}
} */


@media all and (max-width: 600px) {

    .projects_card_showcase{
        position: relative;
        align-self: center;
        top: 0%;
    }

    .project-card {
        padding: 0.5rem;
    }

    .media-display {
        max-height: 15rem;
    }
    .title {
        font-size: 1.2rem;
    }
    .prev-btn, .next-btn {
        font-size: 1.2rem;
        padding: 0.3rem 0.5rem;
    }
    .techstack-container img {
        width: 1.5rem;
        height: 1.5rem;
    }


}

@media all and (max-width: 850px) {
    .projects_card_showcase{
        top: 0%;
    }
}




@media all and (min-width: 320px) and (max-width:420px) {

    .projects_card_showcase{
        top: -20%;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .projects_card_showcase.opened{
        width: 80%;
        height: fit-content;
        min-height: 30rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        transition: all 0.5s ease;
        box-shadow: 0rem 0rem 1rem #080808;
        backdrop-filter: blur(1.0rem);
        border-radius: 1rem;
        transition: all 0.5s ease;
    }

    .project-card{
        overflow-y: auto;
        min-height: 25rem;
    }


    .text-container {
        min-height: 5rem;
        font-size: 0.8rem;
        overflow-y: auto;
        max-height: 20rem;
    }

    .project-card.pv1 .text-container{
        height: fit-content;
        /* background: #080808; */
    }


    .title {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        color: #5a4638;
    }


    .internal_contents .buttons{
        top: -20%;
        right: 10%;
        align-items: flex-start;
        flex-direction: row;
        width: fit-content;
    }

    .internal_contents .buttons .expand{
        top: -10%;
        order: 1;
        font-size: 0.8rem;

    }


    .internal_contents .buttons .minimize{
        top: 0%;
        order: 0;
        padding: 0.1rem 0.5rem 0.1rem 0.5rem;
    }


}


