* {
  padding: 0rem;
  margin: 0rem;
  font-family: "Figtree", sans-serif;
  box-sizing: border-box;
}

:root {
    --background-color: #fcf5da ;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --accent-color: #f4d35e;
    --text-color: #333;
}